/* NAV BAR STYLES */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 90rem;
  margin: 0 auto;
  background: rgba(15, 15, 15, 0.65);
  backdrop-filter: blur(10px);
  border-radius: 8px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  padding: 0.5rem 0;
}

nav h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: clamp(2rem, 5vw, 3rem);
  letter-spacing: 0.1rem;
  padding: 0rem 1rem;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 5px;
}

nav a, button {
  font-family: "SpaceGrotesk", sans-serif;
  font-size: clamp(1.3rem, 1.8vw, 2rem);
  font-style: normal;
  letter-spacing: 0.01rem;
  line-height: 1;

  color: var(--HWhite);
  text-decoration: none;
  transition: color 0.3s;
  padding: 0rem 0.9rem;
  background: none;
  border: none;
  
  -webkit-tap-highlight-color: transparent;
}

.drop-down{
    position: relative;
}

.drop-down-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    padding: 0.5rem 0;
    background-color: rgba(15, 15, 15, 0.65);
}

.drop-down:focus-within .drop-down-content {
   display: flex; 
}

.drop-down-content li{
    border-bottom: 1px solid var(--HDarkGrey);
}
.drop-down-content li:last-child{
    border-bottom: none;
}

.drop-down-content a {
    padding: 0.5rem 1rem;
    margin: 0;
    text-align: left;
    font-size: clamp(1.1rem, 1.5vw, 1.5rem);
}

nav a:hover {
  color: var(--HRed);
  box-shadow: 0 4px 12px rgba(191, 13, 34, 0.4);
}

nav button:hover {
    cursor: pointer;
    color: var(--HRed);
    box-shadow: 0 4px 12px rgba(191, 13, 34, 0.4);
}

@media (max-width: 768px){
  nav {
    flex-direction: column;
    border-radius: 8px;
    padding: 0;
  }

  nav ul{
    gap: 0.2rem;
    margin: 0.5rem 1rem;
    padding: 0;
  }
  nav a, button{
      padding: 0rem 0.2rem;
  }

  nav h1{
    font-size: 1.9rem;
    text-align: center;
  }
}