/* NAV BAR STYLES */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 80vw;
  margin: 0 auto;
  background: var(--HDarkGlass);
  backdrop-filter: blur(10px);
  border-radius: 8px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

nav h1 {
  font-size: clamp(2rem, 6vw, 4rem);
  margin: 0;
  letter-spacing: 0;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

nav a, nav button {
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 1;
  font-style: normal;

  color: var(--HWhite);
  text-decoration: none;
  transition: color 0.25s;
  padding: 0rem 1rem;
  background: none;
  border: none;
  
  /* stops annoying highlight on click */
  -webkit-tap-highlight-color: transparent;
}

.drop-down{
    position: relative;
}

.drop-down-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    padding: 0.5rem 0;
    background-color: var(--HDarkGlass);
    backdrop-filter: blur(10px);
}

.drop-down:focus-within .drop-down-content {
   display: flex; 
}

.drop-down-content li{
    border-bottom: 1px solid var(--HDarkGrey);
}
.drop-down-content li:last-child{
    border-bottom: none;
}

.drop-down-content a {
    padding: 0.5rem 1rem;
    margin: 0;
    text-align: left;
    font-size: clamp(1.1rem, 1.5vw, 1.5rem);
}

nav a:hover {
  color: var(--HRed);
  box-shadow: 0 4px 12px var(--HRedGlow);
}

nav button:hover {
    cursor: pointer;
    color: var(--HRed);
    box-shadow: 0 4px 12px var(--HRedGlow);
}

@media (max-width: 768px){
  nav {
    flex-direction: column;
    border-radius: 8px;
    padding: 0;
  }

  nav ul{
    gap: 0.2rem;
    margin: 0.5rem 1rem;
    padding: 0;
  }
  nav a, button{
      padding: 0rem 0.2rem;
  }

  nav h1{
    font-size: 1.9rem;
    text-align: center;
  }
}