/* PROJECTS CONTAINS STYLES PERTAINING TO A PROJECT, SUCH AS HEROS AND CARDS*/

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;

    border-radius: var(--HRounded);
    background-color: var(--HDarkGlass);
    backdrop-filter: blur(10px);
}


/* PROJECT HERO STYLES */
.project-hero {
  height: 60vh;
  min-height: 400px;
  margin: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.project-hero video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;  /* so that text overlays the top */
}

.project-hero h1{
  font-size: clamp(3rem, 8vw, 6rem);
  letter-spacing: 1.8rem;
  text-align: center;
}

@media (max-width: 768px) {
  .project-hero{
    margin: 1vh;
    margin-top: 10vh;
  }
}


/* PROJECT CARD STYLES */
.project-card { 
    background-color: var(--HDarkGrey);
    padding: 1rem;
    border-radius: var(--HRounded);
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.5s ease;
}

.project-card img {
    width: 25vh;
    height: auto;
}

.project-grid a {
    color: var(--HWhite);
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: var(--HShadow);
    transition: all 0.25s ease;
}

 
/* TAGS */

.tag {
    padding: 0.25rem 0.5rem;
    margin: 0px 0.25rem;
    border-radius: var(--HLessRounded);
}

.t-engine{
    background-color: var(--HOrange);
}

.t-role{
    background-color: var(--HBlue);
}

.t-genre{
    background-color: var(--HYellow);
}

.t-time-span{
    background-color: var(--HGreen);
}

.t-other{
    background-color: var(--HPurple);
}
