/* GLOBAL DEFINES COMMON VARIABLES */

/* Font Imports*/ 
@import url("../../Assets/Fonts/Montserrat/montserrat.css"); /* Title font */ 
@import url("../../Assets/Fonts/Satoshi/satoshi.css"); /* Body font */ 
@import url("../../Assets/Fonts/SpaceGrotesk/space-grotesk.css"); /* Interactor font */ 

/* Style Imports */
@import url("./Components/nav-bar.css");
@import url("./Components/projects.css");
@import url("./Components/scroll-arrow.css");


/* GLOBAL VARIABLES */
:root {
  /* Site Colours */
  --HBlack: #000000;
  --HDarkGrey: #363232;
  --HGrey: #423b3b;
  --HRed: #bf0d22;
  --HTeal: #7891ba;
  --HWhite: #f5f5f5;
  
  /* Transparent Colours */
  --HDarkGlass: rgba(15, 15, 15, 0.65);
  --HCShadow: rgba(0, 0, 0, 0.25);
  --HRedGlow: rgba(180, 15, 35, 0.4);

  /* Tag Colours*/
  --HOrange: #e76f51;
  --HBlue: #5390d9;
  --HYellow: #e9c46a;
  --HGreen: #2a9d8f;
  --HPurple: #833F7B;

  /* Border Radius's */
  --HRounded: 8px;
  --HLessRounded: 4px;

  /* Shadow */
  --HShadow: 10px 10px 8px var(--HCShadow);
}
