/* MAIN DEFINES ALL STYLES */
@import url(/Styles/Imports/global.css);

/* Disables annoying pointer */
h1, h2, img{
  cursor: default;
  user-select: none;
}

main {
  padding: 10vh;
}

section {
  margin-bottom: 20vh;
}

body {
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  line-height: 1.6;
  letter-spacing: 0.01rem;
  color: var(--HWhite);

  background-color: var(--HRed);
}

q {
  font-style: italic;
}

img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  box-sizing: border-box; 

  border-radius: 8px;
  border: var(--HTeal) 2px solid;
  box-shadow: 0 10px 30px var(--HShadow);
}

video {
  width: 100%;
  height: 350px;
  object-fit: cover;
  box-sizing: border-box; 

  border-radius: 8px;
  border: var(--HTeal) 2px solid;
  box-shadow: 0 10px 30px var(--HShadow);
}

h1 {
    font-family: "Montserrat-ExtraBold", sans-serif;
    font-size: clamp(3rem, 6vw, 9rem);
    letter-spacing: clamp(0.5rem, 3vw, 2rem);
}

h2 {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: clamp(3rem, 4vw, 5rem);
  letter-spacing: 0.1rem;
}

h3 {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  letter-spacing: 0.1rem;
}

.content-1 {
  font-family: "Satoshi-Regular", sans-serif;
  font-size: clamp(1.1rem, 2.2vw, 1.6rem);
  letter-spacing: 0.02rem;
  line-height: 1.6;
  max-width: 70ch;

  background-color: var(--HDarkGlass);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 5px;
  
  max-width: fit-content;
}

button, a {
  font-family: "SpaceGrotesk-Medium", sans-serif;
}

.highlight {
  color: var(--HRed);
}

.project-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    background-color: var(--HDarkGlass);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

@media (max-width: 768px){
  main {
    padding: 2vh;
  }

  img{
    height: 200px;
  }
}
