/* MAIN DEFINES ALL STYLES */
@import url(/Styles/Imports/global.css);

/* Class to put glass behind paragraphs etc */
.content {
  font-family: "Satoshi-Regular", sans-serif;
  font-size: clamp(1.1rem, 2.2vw, 1.6rem);
  max-width: fit-content;

  background-color: var(--HDarkGlass);
  backdrop-filter: blur(10px);
  border-radius: var(--HRounded);
  padding: 6px;
}

.content a {
  color: var(--HTeal);
  font-style: italic;
  text-decoration: underline;
}

/* Disables pointer cursor where it shouldnt be */
h1, h2, img{
  cursor: default;
  user-select: none;
}

/* MAIN STYLES */
main {
  padding: 10vh;
}

section {
  margin-bottom: 20vh;
}

body {
  color: var(--HWhite);
  background: linear-gradient(60deg, var(--HDarkGrey) 0%, var(--HRed) 100%);
}

q {
  font-style: italic;
}

a {
  text-decoration: none;
  color: var(--HWhite);
}

img, video {
  width: 100%;
  height: 350px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  box-shadow: var(--HShadow);

  box-sizing: border-box; 
  border-radius: var(--HRounded);
  border: var(--HTeal) 2px solid;
}


/* FONT STYLES */
h1 {
    font-family: "Montserrat-ExtraBold", sans-serif;
    font-size: clamp(2rem, 5vw, 8rem);
}

h2 {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: clamp(2rem, 3vw, 4rem);
}

h3 {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}

button, a {
  font-family: "SpaceGrotesk-Medium", sans-serif;
}

/* MAIN RESPONSIVE STYLES */
@media (max-width: 768px){
  main {
    padding: 2vh;
  }

  img{
    height: 200px;
  }
}
