@import url("StyleSheetImports/global-styles.css");

/* PLAN: going to have a section for projects, followed by a div for the grid
 * followed by a project card, CONTAINING:
 * a IMG br TITLE br LIST OF TAGS*/
.header-2 {
    margin-bottom: 0px;
}
    

@media (max-width: 768px) {
    main {
        padding-top: 7rem;
    }
    .project-grid {
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }
}
