@import url("Styles/Imports/main.css");

img {
  width: 25%;
  height: auto;
  display: flex;
  margin: 5px;
}


/* RESPONSIVE STYLES */

@media (max-width: 1024px) {
  .project-hero h1 {
    letter-spacing: 5px;
  }

  img {
    width: 100%;
  }
}
