@import url("/Styles/Imports/main.css");
    
/* RESPONSIVE STYLES */
@media (max-width: 768px) {
    .project-grid {
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    main {
        padding-top: 7rem;
    }
}
